2000-Beaten-Substance Use-Black-Yes,1
2000-Beaten-Unknown-Hispanic-Yes,1
2000-Beaten-Yes-White-Yes,1
2000-Gunshot-No-Black-Yes,24
2000-Gunshot-No-Hispanic-Yes,18
2000-Gunshot-No-Native-American/Alaskan-Yes,2
2000-Gunshot-No-White-Yes,18
2000-Gunshot-Substance Use-Black-Yes,2
2000-Gunshot-Substance Use-White-Yes,2
2000-Gunshot-Unknown-Asian/PI-Yes,3
2000-Gunshot-Unknown-Black-Yes,23
2000-Gunshot-Unknown-Hispanic-Yes,17
2000-Gunshot-Unknown-White-Yes,8
2000-Gunshot-Yes-Black-Yes,5
2000-Gunshot-Yes-White-Yes,8
2000-Other-No-Hispanic-Yes,2
2000-Other-Substance Use-Black-Yes,1
2000-Restraint-No-Black-Yes,1
2000-Restraint-Yes-Hispanic-Yes,1
2000-Vehicle-No-Asian/PI-Yes,1
2000-Vehicle-No-Black-Yes,1
2000-Vehicle-No-Hispanic-Yes,1
2000-Vehicle-No-Native-American/Alaskan-Yes,1
2000-Vehicle-No-White-Yes,6
2000-Vehicle-Unknown-Hispanic-Yes,1
2000-Vehicle-Unknown-White-Yes,1
2001-Beaten-No-Black-Yes,1
2001-Beaten-No-Hispanic-Yes,1
2001-Beaten-Unknown-Hispanic-Yes,1
2001-Beaten-Unknown-Middle Eastern-Yes,1
2001-Gunshot-No-Asian/PI-Yes,4
2001-Gunshot-No-Black-Yes,21
2001-Gunshot-No-Hispanic-Yes,18
2001-Gunshot-No-Middle Eastern-Yes,1
2001-Gunshot-No-White-Yes,20
2001-Gunshot-Substance Use-Black-Yes,1
2001-Gunshot-Substance Use-Hispanic-Yes,2
2001-Gunshot-Substance Use-White-Yes,3
2001-Gunshot-Unknown-Asian/PI-Yes,1
2001-Gunshot-Unknown-Black-Yes,19
2001-Gunshot-Unknown-Hispanic-Yes,22
2001-Gunshot-Unknown-White-Yes,11
2001-Gunshot-Yes-Asian/PI-Yes,3
2001-Gunshot-Yes-Black-Yes,7
2001-Gunshot-Yes-Hispanic-Yes,6
2001-Gunshot-Yes-White-Yes,15
2001-Other-No-White-Yes,1
2001-Other-Yes-White-Yes,2
2001-Restraint-No-Black-Yes,1
2001-Restraint-No-Middle Eastern-Yes,1
2001-Restraint-No-White-Yes,1
2001-Restraint-Substance Use-Hispanic-Yes,1
2001-Restraint-Yes-White-Yes,2
2001-Vehicle-No-Asian/PI-Yes,1
2001-Vehicle-No-Black-Yes,2
2001-Vehicle-No-Hispanic-Yes,9
2001-Vehicle-No-White-Yes,7
2001-Vehicle-Unknown-Hispanic-Yes,1
2002-Beaten-No-Black-No,1
2002-Beaten-Unknown-Hispanic-Yes,1
2002-Beaten-Yes-Black-No,1
2002-Beaten-Yes-White-No,1
2002-Gunshot-No-Asian/PI-No,1
2002-Gunshot-No-Black-No,25
2002-Gunshot-No-Black-Yes,4
2002-Gunshot-No-Hispanic-No,16
2002-Gunshot-No-Hispanic-Yes,1
2002-Gunshot-No-Middle Eastern-No,1
2002-Gunshot-No-White-No,40
2002-Gunshot-Substance Use-Black-No,3
2002-Gunshot-Substance Use-Hispanic-No,1
2002-Gunshot-Substance Use-White-No,3
2002-Gunshot-Unknown-Asian/PI-No,6
2002-Gunshot-Unknown-Black-No,12
2002-Gunshot-Unknown-Black-Yes,2
2002-Gunshot-Unknown-Hispanic-No,26
2002-Gunshot-Unknown-Hispanic-Yes,8
2002-Gunshot-Unknown-Native-American/Alaskan-No,4
2002-Gunshot-Unknown-White-No,12
2002-Gunshot-Unknown-White-Yes,3
2002-Gunshot-Yes-Asian/PI-No,2
2002-Gunshot-Yes-Black-No,11
2002-Gunshot-Yes-Black-Yes,1
2002-Gunshot-Yes-Hispanic-No,3
2002-Gunshot-Yes-Hispanic-Yes,1
2002-Gunshot-Yes-White-No,5
2002-Gunshot-Yes-White-Yes,1
2002-Other-No-Hispanic-No,1
2002-Other-No-White-No,1
2002-Other-Substance Use-White-No,1
2002-Other-Unknown-Hispanic-No,1
2002-Restraint-No-Black-No,1
2002-Restraint-No-Hispanic-No,1
2002-Restraint-No-White-No,1
2002-Restraint-Substance Use-Black-No,1
2002-Restraint-Substance Use-Native-American/Alaskan-No,1
2002-Restraint-Unknown-Black-No,2
2002-Restraint-Unknown-Black-Yes,1
2002-Restraint-Yes-Black-No,1
2002-Taser-No-Black-No,1
2002-Taser-Substance Use-White-No,1
2002-Taser-Yes-White-No,1
2002-Vehicle-No-Black-No,9
2002-Vehicle-No-Hispanic-No,4
2002-Vehicle-No-Native-American/Alaskan-No,1
2002-Vehicle-No-White-No,7
2002-Vehicle-No-White-Yes,2
2002-Vehicle-Substance Use-White-No,1
2003-Beaten-No-Black-No,1
2003-Beaten-Unknown-White-No,1
2003-Gunshot-No-Asian/PI-No,2
2003-Gunshot-No-Black-No,28
2003-Gunshot-No-Hispanic-No,16
2003-Gunshot-No-Native-American/Alaskan-No,2
2003-Gunshot-No-White-No,27
2003-Gunshot-Substance Use-Black-No,1
2003-Gunshot-Substance Use-Hispanic-No,4
2003-Gunshot-Substance Use-Native-American/Alaskan-No,2
2003-Gunshot-Substance Use-White-No,2
2003-Gunshot-Unknown-Asian/PI-No,2
2003-Gunshot-Unknown-Black-No,19
2003-Gunshot-Unknown-Hispanic-No,29
2003-Gunshot-Unknown-White-No,17
2003-Gunshot-Yes-Asian/PI-No,2
2003-Gunshot-Yes-Black-No,4
2003-Gunshot-Yes-Hispanic-No,2
2003-Gunshot-Yes-Native-American/Alaskan-No,1
2003-Gunshot-Yes-White-No,9
2003-Other-No-Hispanic-No,1
2003-Restraint-No-Black-No,2
2003-Restraint-Unknown-Black-No,1
2003-Restraint-Yes-Black-No,3
2003-Taser-No-Black-No,1
2003-Taser-No-White-No,1
2003-Vehicle-No-Asian/PI-No,1
2003-Vehicle-No-Black-No,8
2003-Vehicle-No-Hispanic-No,3
2003-Vehicle-No-White-No,9
2003-Vehicle-Substance Use-White-No,2
2004-Beaten-No-Black-No,2
2004-Beaten-No-Hispanic-No,1
2004-Beaten-Substance Use-Black-No,1
2004-Beaten-Substance Use-Hispanic-No,1
2004-Gunshot-No-Asian/PI-No,1
2004-Gunshot-No-Black-No,25
2004-Gunshot-No-Hispanic-No,13
2004-Gunshot-No-Native-American/Alaskan-No,1
2004-Gunshot-No-White-No,25
2004-Gunshot-Substance Use-Asian/PI-No,1
2004-Gunshot-Substance Use-Black-No,1
2004-Gunshot-Substance Use-Native-American/Alaskan-No,1
2004-Gunshot-Substance Use-White-No,3
2004-Gunshot-Unknown-Asian/PI-No,1
2004-Gunshot-Unknown-Black-No,16
2004-Gunshot-Unknown-Hispanic-No,31
2004-Gunshot-Unknown-White-No,17
2004-Gunshot-Yes-Black-No,10
2004-Gunshot-Yes-Hispanic-No,5
2004-Gunshot-Yes-White-No,14
2004-Other-No-White-No,1
2004-Pepper Spray-No-White-No,1
2004-Pepper Spray-Yes-Hispanic-No,1
2004-Restraint-No-Black-No,1
2004-Restraint-Substance Use-White-No,1
2004-Restraint-Unknown-Black-No,1
2004-Restraint-Unknown-Hispanic-No,1
2004-Restraint-Yes-Black-No,2
2004-Taser-No-Black-No,3
2004-Taser-No-White-No,1
2004-Taser-Substance Use-Black-No,1
2004-Taser-Substance Use-White-No,1
2004-Taser-Unknown-Hispanic-No,1
2004-Taser-Unknown-White-No,1
2004-Vehicle-No-Asian/PI-No,1
2004-Vehicle-No-Black-No,4
2004-Vehicle-No-Hispanic-No,4
2004-Vehicle-No-White-No,6
2004-Vehicle-Unknown-Black-No,1
2005-Beaten-No-Black-No,1
2005-Beaten-No-White-No,1
2005-Gunshot-No-Asian/PI-No,4
2005-Gunshot-No-Black-No,30
2005-Gunshot-No-Hispanic-No,21
2005-Gunshot-No-Native-American/Alaskan-No,3
2005-Gunshot-No-White-No,32
2005-Gunshot-Substance Use-Black-No,1
2005-Gunshot-Substance Use-Hispanic-No,2
2005-Gunshot-Substance Use-White-No,4
2005-Gunshot-Unknown-Asian/PI-No,1
2005-Gunshot-Unknown-Black-No,20
2005-Gunshot-Unknown-Hispanic-No,24
2005-Gunshot-Unknown-White-No,15
2005-Gunshot-Yes-Black-No,5
2005-Gunshot-Yes-Hispanic-No,3
2005-Gunshot-Yes-White-No,9
2005-Other-No-Black-No,1
2005-Other-Unknown-Black-No,1
2005-Pepper spray-No-Hispanic-No,1
2005-Restraint-No-Black-No,2
2005-Restraint-Yes-Black-No,1
2005-Taser-No-Hispanic-No,1
2005-Taser-No-White-No,1
2005-Taser-Substance Use-Black-No,3
2005-Taser-Substance Use-White-No,2
2005-Taser-Unknown-Black-No,1
2005-Taser-Unknown-White-No,1
2005-Taser-Yes-White-No,4
2005-Vehicle-No-Asian/PI-No,1
2005-Vehicle-No-Black-No,4
2005-Vehicle-No-Middle Eastern-No,1
2005-Vehicle-No-White-No,4
2005-Vehicle-Unknown-Hispanic-No,2
2006-Beaten-No-Asian/PI-No,1
2006-Beaten-No-Black-No,1
2006-Beaten-Unknown-White-No,1
2006-Beaten-Yes-White-No,1
2006-Gunshot-No-Asian/PI-No,2
2006-Gunshot-No-Black-No,37
2006-Gunshot-No-Hispanic-No,16
2006-Gunshot-No-Native-American/Alaskan-No,4
2006-Gunshot-No-White-No,41
2006-Gunshot-Substance Use-Black-No,1
2006-Gunshot-Substance Use-Hispanic-No,2
2006-Gunshot-Substance Use-White-No,6
2006-Gunshot-Unknown-Asian/PI-No,1
2006-Gunshot-Unknown-Black-No,18
2006-Gunshot-Unknown-Hispanic-No,26
2006-Gunshot-Unknown-Middle Eastern-No,1
2006-Gunshot-Unknown-White-No,15
2006-Gunshot-Yes-Asian/PI-No,1
2006-Gunshot-Yes-Black-No,8
2006-Gunshot-Yes-Hispanic-No,1
2006-Gunshot-Yes-White-No,16
2006-Other-Yes-White-No,1
2006-Pepper spray-No-Black-No,1
2006-Pepper Spray-Unknown-Black-No,1
2006-Restraint-No-Black-No,3
2006-Restraint-No-White-No,1
2006-Restraint-Substance Use-Black-No,1
2006-Restraint-Yes-White-No,1
2006-Taser-No-Black-No,3
2006-Taser-No-Hispanic-No,1
2006-Taser-Substance Use-Black-No,1
2006-Taser-Substance Use-Hispanic-No,1
2006-Taser-Unknown-Black-No,1
2006-Taser-Unknown-Hispanic-No,1
2006-Taser-Unknown-White-No,1
2006-Taser-Yes-Black-No,1
2006-Taser-Yes-Hispanic-No,1
2006-Taser-Yes-White-No,2
2006-Vehicle-No-Black-No,4
2006-Vehicle-No-Hispanic-No,10
2006-Vehicle-No-White-No,13
2006-Vehicle-Substance Use-White-No,1
2007-Beaten-No-Hispanic-No,1
2007-Beaten-Substance Use-Hispanic-No,1
2007-Gunshot-No-Asian/PI-No,1
2007-Gunshot-No-Black-No,34
2007-Gunshot-No-Hispanic-No,22
2007-Gunshot-No-Native-American/Alaskan-No,1
2007-Gunshot-No-White-No,37
2007-Gunshot-Substance Use-Hispanic-No,1
2007-Gunshot-Substance Use-White-No,2
2007-Gunshot-Unknown-Asian/PI-No,1
2007-Gunshot-Unknown-Black-No,19
2007-Gunshot-Unknown-Hispanic-No,21
2007-Gunshot-Unknown-Native-American/Alaskan-No,1
2007-Gunshot-Unknown-White-No,15
2007-Gunshot-Yes-Asian/PI-No,1
2007-Gunshot-Yes-Black-No,9
2007-Gunshot-Yes-Hispanic-No,5
2007-Gunshot-Yes-White-No,13
2007-Restraint-No-White-No,1
2007-Restraint-Substance Use-White-No,1
2007-Suicide-Yes-White-No,1
2007-Taser-No-Black-No,2
2007-Taser-No-White-No,1
2007-Taser-Substance Use-Black-No,2
2007-Taser-Substance Use-Hispanic-No,1
2007-Taser-Unknown-Black-No,3
2007-Taser-Unknown-White-No,2
2007-Taser-Yes-Black-No,2
2007-Taser-Yes-White-No,2
2007-Vehicle-No-Black-No,5
2007-Vehicle-No-Hispanic-No,2
2007-Vehicle-No-White-No,15
2007-Vehicle-Unknown-Asian/PI-No,1
2007-Vehicle-Unknown-Black-No,2
2007-Vehicle-Unknown-White-No,3
2008-Beaten-No-Black-No,2
2008-Beaten-No-White-No,1
2008-Gunshot-No-Asian/PI-No,3
2008-Gunshot-No-Black-No,43
2008-Gunshot-No-Hispanic-No,40
2008-Gunshot-No-Native-American/Alaskan-No,2
2008-Gunshot-No-White-No,35
2008-Gunshot-No-White-Yes,1
2008-Gunshot-Substance Use-Black-No,1
2008-Gunshot-Substance Use-Hispanic-No,3
2008-Gunshot-Substance Use-White-No,4
2008-Gunshot-Unknown-Asian/PI-No,1
2008-Gunshot-Unknown-Black-No,21
2008-Gunshot-Unknown-Hispanic-No,22
2008-Gunshot-Unknown-Middle Eastern-No,1
2008-Gunshot-Unknown-White-No,14
2008-Gunshot-Yes-Asian/PI-No,2
2008-Gunshot-Yes-Black-No,5
2008-Gunshot-Yes-Hispanic-No,1
2008-Gunshot-Yes-Middle Eastern-No,1
2008-Gunshot-Yes-White-No,21
2008-Other-No-Black-No,1
2008-Other-No-Hispanic-No,1
2008-Other-Substance Use-White-No,1
2008-Restraint-No-Black-No,2
2008-Restraint-No-White-No,1
2008-Restraint-Substance Use-Black-No,1
2008-Restraint-Unknown-White-No,1
2008-Taser-No-Black-No,3
2008-Taser-No-White-No,1
2008-Taser-Substance Use-Black-No,2
2008-Taser-Substance Use-White-No,2
2008-Taser-Unknown-Black-No,3
2008-Taser-Unknown-White-No,2
2008-Taser-Yes-Black-No,1
2008-Taser-Yes-Hispanic-No,1
2008-Taser-Yes-White-No,1
2008-Vehicle-No-Black-No,9
2008-Vehicle-No-Hispanic-No,3
2008-Vehicle-No-White-No,8
2008-Vehicle-Substance Use-White-No,2
2008-Vehicle-Unknown-Black-No,1
2008-Vehicle-Unknown-White-No,2
2009-Beaten-No-White-No,2
2009-Beaten-Unknown-Black-No,1
2009-Beaten-Yes-White-No,1
2009-Gunshot-No-Asian/PI-No,2
2009-Gunshot-No-Black-No,72
2009-Gunshot-No-Hispanic-No,50
2009-Gunshot-No-Hispanic-Yes,3
2009-Gunshot-No-Native-American/Alaskan-No,3
2009-Gunshot-No-White-No,54
2009-Gunshot-Substance Use-Black-No,1
2009-Gunshot-Substance Use-Hispanic-No,5
2009-Gunshot-Substance Use-Native-American/Alaskan-No,1
2009-Gunshot-Substance Use-White-No,10
2009-Gunshot-Unknown-Black-No,11
2009-Gunshot-Unknown-Hispanic-No,6
2009-Gunshot-Unknown-Middle Eastern-No,1
2009-Gunshot-Unknown-Native-American/Alaskan-No,2
2009-Gunshot-Unknown-White-No,20
2009-Gunshot-Yes-Black-No,5
2009-Gunshot-Yes-Hispanic-No,4
2009-Gunshot-Yes-Hispanic-Yes,2
2009-Gunshot-Yes-White-No,27
2009-Other-No-White-No,1
2009-Other-Substance Use-Hispanic-No,1
2009-Restraint-No-Black-No,1
2009-Restraint-Substance Use-White-No,1
2009-Restraint-Unknown-White-No,1
2009-Restraint-Yes-White-No,1
2009-Taser-No-Black-No,2
2009-Taser-No-White-No,3
2009-Taser-Substance Use-Black-No,1
2009-Taser-Substance Use-White-No,1
2009-Taser-Unknown-Black-No,1
2009-Taser-Unknown-Black-Yes,1
2009-Taser-Yes-Black-No,1
2009-Taser-Yes-Hispanic-No,1
2009-Taser-Yes-White-No,1
2009-Vehicle-No-Asian/PI-No,1
2009-Vehicle-No-Black-No,16
2009-Vehicle-No-Hispanic-No,8
2009-Vehicle-No-Native-American/Alaskan-No,1
2009-Vehicle-No-White-No,17
2009-Vehicle-Unknown-White-No,2
2010-Beaten-No-White-No,1
2010-Beaten-Substance Use-Hispanic-No,1
2010-Beaten-Substance Use-White-No,1
2010-Gunshot-No-Asian/PI-No,3
2010-Gunshot-No-Black-No,46
2010-Gunshot-No-Hispanic-No,32
2010-Gunshot-No-Middle Eastern-No,1
2010-Gunshot-No-White-No,90
2010-Gunshot-Substance Use-Black-No,2
2010-Gunshot-Substance Use-Hispanic-No,1
2010-Gunshot-Substance Use-Native-American/Alaskan-No,1
2010-Gunshot-Substance Use-White-No,12
2010-Gunshot-Unknown-Black-No,30
2010-Gunshot-Unknown-Hispanic-No,11
2010-Gunshot-Unknown-Native-American/Alaskan-No,1
2010-Gunshot-Unknown-White-No,20
2010-Gunshot-Yes-Asian/PI-No,1
2010-Gunshot-Yes-Black-No,9
2010-Gunshot-Yes-Hispanic-No,6
2010-Gunshot-Yes-White-No,26
2010-Restraint-No-Black-No,1
2010-Restraint-No-Hispanic-No,2
2010-Restraint-No-White-No,2
2010-Restraint-Unknown-White-No,1
2010-Restraint-Yes-Black-No,2
2010-Suicide-No-White-No,1
2010-Taser-No-Black-No,2
2010-Taser-No-Hispanic-No,2
2010-Taser-No-White-No,2
2010-Taser-Substance Use-White-No,2
2010-Taser-Unknown-Black-No,3
2010-Taser-Unknown-Hispanic-No,1
2010-Taser-Unknown-White-No,1
2010-Taser-Yes-Black-No,2
2010-Taser-Yes-White-No,2
2010-Vehicle-No-Asian/PI-No,1
2010-Vehicle-No-Black-No,4
2010-Vehicle-No-Native-American/Alaskan-No,4
2010-Vehicle-No-White-No,14
2010-Vehicle-Substance Use-White-No,1
2010-Vehicle-Unknown-Black-No,3
2010-Vehicle-Unknown-White-No,1
2011-Beaten-No-Black-No,2
2011-Beaten-No-Hispanic-No,1
2011-Beaten-No-White-No,1
2011-Beaten-Yes-White-No,1
2011-Gunshot-No-Asian/PI-No,2
2011-Gunshot-No-Black-No,90
2011-Gunshot-No-Hispanic-No,50
2011-Gunshot-No-Native-American/Alaskan-No,4
2011-Gunshot-No-White-No,101
2011-Gunshot-Substance Use-Asian/PI-No,1
2011-Gunshot-Substance Use-Black-No,3
2011-Gunshot-Substance Use-Hispanic-No,4
2011-Gunshot-Substance Use-White-No,17
2011-Gunshot-Unknown-Asian/PI-No,6
2011-Gunshot-Unknown-Black-No,32
2011-Gunshot-Unknown-Hispanic-No,32
2011-Gunshot-Unknown-White-No,34
2011-Gunshot-Yes-Asian/PI-No,1
2011-Gunshot-Yes-Black-No,15
2011-Gunshot-Yes-Hispanic-No,9
2011-Gunshot-Yes-Native-American/Alaskan-No,1
2011-Gunshot-Yes-White-No,40
2011-Other-No-Black-No,2
2011-Other-No-Hispanic-No,1
2011-Other-Unknown-Black-No,2
2011-Other-Unknown-White-No,2
2011-Restraint-no-Black-No,3
2011-Restraint-No-White-No,1
2011-Restraint-Substance Use-White-No,1
2011-Restraint-Unknown-Black-No,1
2011-Restraint-Yes-White-No,2
2011-Taser-No-Asian/PI-No,1
2011-Taser-No-Black-No,5
2011-Taser-No-Hispanic-No,1
2011-Taser-No-White-No,3
2011-Taser-Unknown-Black-No,3
2011-Taser-Unknown-White-No,1
2011-Taser-Yes-Black-No,2
2011-Taser-Yes-White-No,3
2011-Vehicle-No-Black-No,11
2011-Vehicle-No-Hispanic-No,3
2011-Vehicle-No-White-No,11
2011-Vehicle-Unknown-Black-No,1
2011-Vehicle-Unknown-White-No,2
2012-Beaten-No-Black-No,1
2012-Beaten-Substance Use-Black-No,1
2012-Beaten-Yes-Hispanic-No,1
2012-Gunshot-No-Asian/PI-No,4
2012-Gunshot-No-Black-No,115
2012-Gunshot-No-Hispanic-No,49
2012-Gunshot-No-Native-American/Alaskan-No,2
2012-Gunshot-No-White-No,114
2012-Gunshot-Substance Use-Asian/PI-No,1
2012-Gunshot-Substance Use-Black-No,5
2012-Gunshot-Substance Use-Hispanic-No,5
2012-Gunshot-Substance Use-Native-American/Alaskan-No,1
2012-Gunshot-Substance Use-White-No,12
2012-Gunshot-Unknown-Asian/PI-No,2
2012-Gunshot-Unknown-Black-No,25
2012-Gunshot-Unknown-Hispanic-No,22
2012-Gunshot-Unknown-White-No,42
2012-Gunshot-Yes-Asian/PI-No,4
2012-Gunshot-Yes-Black-No,18
2012-Gunshot-Yes-Hispanic-No,7
2012-Gunshot-Yes-Middle Eastern-No,1
2012-Gunshot-Yes-Native-American/Alaskan-No,4
2012-Gunshot-Yes-White-No,45
2012-Other-No-Black-No,1
2012-Other-No-Hispanic-No,1
2012-Other-Substance Use-Black-No,1
2012-Other-Unknown-Black-No,3
2012-Other-Unknown-White-No,1
2012-Other-Yes-Black-No,1
2012-Other-Yes-Hispanic-No,1
2012-Restraint-No-Black-No,2
2012-Restraint-No-Hispanic-No,1
2012-Restraint-No-White-No,1
2012-Restraint-Substance Use-Hispanic-No,1
2012-Restraint-Yes-Black-No,1
2012-Restraint-Yes-Hispanic-No,1
2012-Restraint-Yes-White-No,2
2012-Suicide-No-Hispanic-No,1
2012-Suicide-Unknown-Hispanic-No,1
2012-Suicide-Yes-Black-No,1
2012-Suicide-Yes-Hispanic-No,1
2012-Suicide-Yes-White-No,1
2012-Taser-No-Black-No,3
2012-Taser-No-Hispanic-No,3
2012-Taser-No-White-No,3
2012-Taser-Substance Use-Black-No,1
2012-Taser-Substance Use-White-No,1
2012-Taser-Unknown-Black-No,3
2012-Taser-Unknown-White-No,1
2012-Taser-Yes-Black-No,1
2012-Taser-Yes-Hispanic-No,1
2012-Taser-Yes-White-No,4
2012-Vehicle-No-Black-No,12
2012-Vehicle-No-Hispanic-No,3
2012-Vehicle-No-White-No,16
2012-Vehicle-Unknown-Black-No,5
2012-Vehicle-Unknown-White-No,2
2012-Vehicle-Yes-Black-No,1
2013-Beaten-No-Black-No,2
2013-Beaten-No-White-No,2
2013-Beaten-Substance Use-White-No,2
2013-Beaten-Yes-White-No,1
2013-Gunshot-No-Asian/PI-No,8
2013-Gunshot-No-Black-No,177
2013-Gunshot-No-Hispanic-No,84
2013-Gunshot-No-Middle Eastern-No,1
2013-Gunshot-No-Native-American/Alaskan-No,1
2013-Gunshot-No-White-No,201
2013-Gunshot-Substance Use-Black-No,7
2013-Gunshot-Substance Use-Hispanic-No,6
2013-Gunshot-Substance Use-White-No,24
2013-Gunshot-Unknown-Asian/PI-No,1
2013-Gunshot-Unknown-Black-No,29
2013-Gunshot-Unknown-Hispanic-No,21
2013-Gunshot-Unknown-Native-American/Alaskan-No,1
2013-Gunshot-Unknown-White-No,65
2013-Gunshot-Yes-Asian/PI-No,2
2013-Gunshot-Yes-Black-No,20
2013-Gunshot-Yes-Hispanic-No,12
2013-Gunshot-Yes-Middle Eastern-No,1
2013-Gunshot-Yes-Native-American/Alaskan-No,2
2013-Gunshot-Yes-White-No,73
2013-Other-No-Black-No,2
2013-Other-No-Hispanic-No,1
2013-Other-No-White-No,1
2013-Other-Substance Use-Hispanic-No,1
2013-Other-Unknown-Black-No,1
2013-Restraint-No-Black-No,4
2013-Restraint-No-Hispanic-No,2
2013-Restraint-No-White-No,8
2013-Restraint-Substance Use-Black-No,1
2013-Restraint-Substance Use-Hispanic-No,1
2013-Restraint-Substance Use-White-No,4
2013-Restraint-Unknown-Black-No,2
2013-Restraint-Unknown-Hispanic-No,1
2013-Restraint-Yes-Black-No,3
2013-Restraint-Yes-Hispanic-No,1
2013-Suicide-No-Black-No,1
2013-Suicide-No-White-No,1
2013-Suicide-Unknown-White-No,1
2013-Suicide-Yes-White-No,1
2013-Taser-No-Black-No,8
2013-Taser-No-Hispanic-No,2
2013-Taser-No-White-No,6
2013-Taser-Substance Use-Hispanic-No,2
2013-Taser-Substance Use-White-No,2
2013-Taser-Unknown-White-No,1
2013-Taser-Yes-Black-No,3
2013-Taser-Yes-White-No,3
2013-Vehicle-No-Asian/PI-No,5
2013-Vehicle-No-Black-No,19
2013-Vehicle-No-Hispanic-No,17
2013-Vehicle-No-White-No,19
2013-Vehicle-Substance Use-Black-No,1
2013-Vehicle-Substance Use-White-No,1
2013-Vehicle-Unknown-Asian/PI-No,1
2013-Vehicle-Unknown-Black-No,3
2013-Vehicle-Unknown-White-No,1
2014-Beaten-No-Black-No,2
2014-Beaten-Substance Use-Black-No,1
2014-Beaten-Substance Use-White-No,1
2014-Beaten-Unknown-White-No,1
2014-Beaten-Yes-Black-No,1
2014-Beaten-Yes-White-No,1
2014-Gunshot-No-Asian/PI-No,5
2014-Gunshot-No-Asian/PI-Yes,4
2014-Gunshot-No-Black-No,112
2014-Gunshot-No-Black-Yes,35
2014-Gunshot-No-Hispanic-No,67
2014-Gunshot-No-Hispanic-Yes,28
2014-Gunshot-No-Native-American/Alaskan-No,2
2014-Gunshot-No-Native-American/Alaskan-Yes,2
2014-Gunshot-No-White-No,161
2014-Gunshot-No-White-Yes,58
2014-Gunshot-Substance Use-Black-No,7
2014-Gunshot-Substance Use-Hispanic-No,8
2014-Gunshot-Substance Use-Hispanic-Yes,1
2014-Gunshot-Substance Use-Native-American/Alaskan-Yes,1
2014-Gunshot-Substance Use-White-No,26
2014-Gunshot-Substance Use-White-Yes,5
2014-Gunshot-Unknown-Asian/PI-No,3
2014-Gunshot-Unknown-Asian/PI-Yes,1
2014-Gunshot-Unknown-Black-No,27
2014-Gunshot-Unknown-Black-Yes,5
2014-Gunshot-Unknown-Hispanic-No,12
2014-Gunshot-Unknown-Hispanic-Yes,4
2014-Gunshot-Unknown-Native-American/Alaskan-No,2
2014-Gunshot-Unknown-Native-American/Alaskan-Yes,1
2014-Gunshot-Unknown-White-No,48
2014-Gunshot-Unknown-White-Yes,17
2014-Gunshot-Yes-Asian/PI-No,3
2014-Gunshot-Yes-Asian/PI-Yes,1
2014-Gunshot-Yes-Black-No,14
2014-Gunshot-Yes-Black-Yes,4
2014-Gunshot-Yes-Hispanic-No,11
2014-Gunshot-Yes-Hispanic-Yes,5
2014-Gunshot-Yes-Middle Eastern-No,1
2014-Gunshot-Yes-Native-American/Alaskan-No,1
2014-Gunshot-Yes-White-No,59
2014-Gunshot-Yes-White-Yes,16
2014-Other-No-Black-No,3
2014-Other-No-White-No,1
2014-Other-Unknown-Black-No,3
2014-Other-Unknown-Hispanic-No,1
2014-Other-Unknown-White-No,2
2014-Other-Yes-Hispanic-No,1
2014-Pepper Spray-No-Black-No,1
2014-Pepper spray-No-Hispanic-No,1
2014-Pepper Spray-No-White-Yes,1
2014-Pepper Spray-Substance Use-Black-Yes,1
2014-Restraint-No-Black-No,3
2014-Restraint-No-Hispanic-No,1
2014-Restraint-No-White-No,1
2014-Restraint-Substance Use-Black-No,3
2014-Restraint-Substance Use-White-No,1
2014-Restraint-Unknown-White-No,1
2014-Restraint-Yes-Hispanic-No,1
2014-Restraint-Yes-White-No,1
2014-Suicide-No-White-No,1
2014-Suicide-Substance Use-Hispanic-No,1
2014-Taser-No-Black-No,6
2014-Taser-No-Black-Yes,4
2014-Taser-No-Hispanic-No,3
2014-Taser-No-Hispanic-Yes,1
2014-Taser-No-White-No,2
2014-Taser-Substance Use-Black-No,1
2014-Taser-Substance Use-Black-Yes,2
2014-Taser-Substance Use-White-No,1
2014-Taser-Unknown-Black-No,1
2014-Taser-Unknown-Black-Yes,2
2014-Taser-Unknown-White-No,1
2014-Taser-Unknown-White-Yes,2
2014-Taser-Yes-Black-No,2
2014-Taser-Yes-Black-Yes,2
2014-Taser-Yes-White-No,3
2014-Taser-Yes-White-Yes,1
2014-Vehicle-No-Black-No,10
2014-Vehicle-No-Black-Yes,9
2014-Vehicle-No-Hispanic-No,11
2014-Vehicle-No-Hispanic-Yes,4
2014-Vehicle-No-White-No,23
2014-Vehicle-No-White-Yes,13
2014-Vehicle-Unknown-Black-No,1
2015-Beaten-No-Black-No,2
2015-Beaten-No-White-No,1
2015-Beaten-Substance Use-White-No,1
2015-Beaten-Unknown-Black-No,1
2015-Beaten-Yes-Hispanic-No,1
2015-Beaten-Yes-White-No,1
2015-Gunshot-No-Asian/PI-No,8
2015-Gunshot-No-Asian/PI-Yes,2
2015-Gunshot-No-Black-No,151
2015-Gunshot-No-Black-Yes,6
2015-Gunshot-No-Hispanic-No,98
2015-Gunshot-No-Hispanic-Yes,6
2015-Gunshot-No-Middle Eastern-No,5
2015-Gunshot-No-Native-American/Alaskan-No,2
2015-Gunshot-No-Native-American/Alaskan-Yes,1
2015-Gunshot-No-White-No,227
2015-Gunshot-No-White-Yes,5
2015-Gunshot-Substance Use-Asian/PI-No,1
2015-Gunshot-Substance Use-Black-No,5
2015-Gunshot-Substance Use-Black-Yes,1
2015-Gunshot-Substance Use-Hispanic-No,3
2015-Gunshot-Substance Use-Middle Eastern-No,1
2015-Gunshot-Substance Use-White-No,18
2015-Gunshot-Unknown-Asian/PI-No,1
2015-Gunshot-Unknown-Asian/PI-Yes,1
2015-Gunshot-Unknown-Black-No,51
2015-Gunshot-Unknown-Black-Yes,2
2015-Gunshot-Unknown-Hispanic-No,24
2015-Gunshot-Unknown-Middle Eastern-No,1
2015-Gunshot-Unknown-Native-American/Alaskan-No,1
2015-Gunshot-Unknown-White-No,102
2015-Gunshot-Unknown-White-Yes,3
2015-Gunshot-Yes-Asian/PI-No,2
2015-Gunshot-Yes-Black-No,18
2015-Gunshot-Yes-Black-Yes,2
2015-Gunshot-Yes-Hispanic-No,23
2015-Gunshot-Yes-Hispanic-Yes,2
2015-Gunshot-Yes-Native-American/Alaskan-No,1
2015-Gunshot-Yes-White-No,70
2015-Gunshot-Yes-White-Yes,1
2015-Other-Unknown-Black-No,2
2015-Other-Unknown-White-No,1
2015-Pepper Spray-Substance Use-White-No,1
2015-Restraint-No-Asian/PI-No,1
2015-Restraint-No-Black-No,4
2015-Restraint-No-Hispanic-No,3
2015-Restraint-No-White-No,2
2015-Restraint-Substance Use-Asian/PI-No,1
2015-Restraint-Substance Use-Black-No,2
2015-Restraint-Substance Use-Native-American/Alaskan-No,1
2015-Restraint-Substance Use-White-No,2
2015-Restraint-Unknown-Black-No,1
2015-Restraint-Unknown-Hispanic-No,2
2015-Restraint-Unknown-White-No,2
2015-Restraint-Yes-Asian/PI-No,1
2015-Restraint-Yes-Black-No,1
2015-Restraint-Yes-Black-Yes,1
2015-Restraint-Yes-Native-American/Alaskan-No,1
2015-Restraint-Yes-White-No,2
2015-Taser-No-Asian/PI-No,1
2015-Taser-No-Black-No,6
2015-Taser-No-Hispanic-No,1
2015-Taser-No-White-No,9
2015-Taser-Substance Use-Black-No,6
2015-Taser-Substance Use-Hispanic-No,3
2015-Taser-Substance Use-White-No,5
2015-Taser-Unknown-Black-No,3
2015-Taser-Unknown-Hispanic-No,3
2015-Taser-Unknown-Hispanic-Yes,1
2015-Taser-Unknown-White-No,5
2015-Taser-Unknown-White-Yes,1
2015-Taser-Yes-Black-No,5
2015-Taser-Yes-Hispanic-No,1
2015-Vehicle-No-Asian/PI-No,1
2015-Vehicle-No-Black-No,9
2015-Vehicle-No-Hispanic-No,5
2015-Vehicle-No-Native-American/Alaskan-No,1
2015-Vehicle-No-White-No,23
2015-Vehicle-No-White-Yes,1
2015-Vehicle-Substance Use-White-No,4
2015-Vehicle-Unknown-Black-No,4
2015-Vehicle-Unknown-White-No,6
2015-Vehicle-Yes-White-No,1
2016-Gunshot-No-Asian/PI-No,1
2016-Gunshot-No-Black-No,9
2016-Gunshot-No-Black-Yes,7
2016-Gunshot-No-Hispanic-No,3
2016-Gunshot-No-Hispanic-Yes,2
2016-Gunshot-No-Native-American/Alaskan-No,1
2016-Gunshot-No-White-No,20
2016-Gunshot-No-White-Yes,12
2016-Gunshot-Unknown-Black-No,1
2016-Gunshot-Unknown-White-No,1
2016-Gunshot-Unknown-White-Yes,2
2016-Gunshot-Yes-Asian/PI-Yes,1
2016-Gunshot-Yes-Black-No,4
2016-Gunshot-Yes-Hispanic-Yes,2
2016-Gunshot-Yes-White-No,4
2016-Gunshot-Yes-White-Yes,4
2016-Suicide-Unknown-White-No,1
2016-Vehicle-No-Black-No,2
2016-Vehicle-No-Black-Yes,3
2016-Vehicle-No-White-No,3
