2010-.-Not Mentally Ill-Black-Not Armed,1
2010-Beaten-Not Mentally Ill-White-Not Armed,1
2010-Beaten-Substance Use-Hispanic-Not Armed,1
2010-Beaten-Substance Use-White-Not Armed,1
2010-Gunshot---Not Armed,1
2010-Gunshot--White-Not Armed,2
2010-Gunshot-Mentally Ill--Not Armed,22
2010-Gunshot-Mentally Ill-Asian/PI-Not Armed,1
2010-Gunshot-Mentally Ill-Black-Not Armed,9
2010-Gunshot-Mentally Ill-Hispanic-Not Armed,6
2010-Gunshot-Mentally Ill-White-Not Armed,26
2010-Gunshot-Not Mentally Ill--Not Armed,82
2010-Gunshot-Not Mentally Ill-Asian/PI-Not Armed,3
2010-Gunshot-Not Mentally Ill-Black-Not Armed,46
2010-Gunshot-Not Mentally Ill-Hispanic-Not Armed,32
2010-Gunshot-Not Mentally Ill-Middle Eastern-Not Armed,1
2010-Gunshot-Not Mentally Ill-White-Not Armed,90
2010-Gunshot-Substance Use--Not Armed,9
2010-Gunshot-Substance Use-Black-Not Armed,2
2010-Gunshot-Substance Use-Hispanic-Not Armed,1
2010-Gunshot-Substance Use-Native-American/Alaskan-Not Armed,1
2010-Gunshot-Substance Use-White-Not Armed,12
2010-Gunshot-Unknown--Not Armed,64
2010-Gunshot-Unknown-Black-Not Armed,30
2010-Gunshot-Unknown-Hispanic-Not Armed,11
2010-Gunshot-Unknown-Native-American/Alaskan-Not Armed,1
2010-Gunshot-Unknown-White-Not Armed,20
2010-Other-Mentally Ill--Not Armed,1
2010-Other-Not Mentally Ill--Not Armed,1
2010-Other-Substance Use--Not Armed,1
2010-Other-Unknown--Not Armed,2
2010-Restraint-Mentally Ill--Not Armed,2
2010-Restraint-Mentally Ill-Black-Not Armed,2
2010-Restraint-Not Mentally Ill--Not Armed,1
2010-Restraint-Not Mentally Ill-Black-Not Armed,1
2010-Restraint-Not Mentally Ill-Hispanic-Not Armed,2
2010-Restraint-Not Mentally Ill-White-Not Armed,2
2010-Restraint-Unknown--Not Armed,1
2010-Restraint-Unknown-White-Not Armed,1
2010-Suicide-Not Mentally Ill-White-Not Armed,1
2010-Taser-Mentally Ill--Not Armed,1
2010-Taser-Mentally Ill-Black-Not Armed,2
2010-Taser-Mentally Ill-White-Not Armed,2
2010-Taser-Not Mentally Ill--Not Armed,6
2010-Taser-Not Mentally Ill-Black-Not Armed,2
2010-Taser-Not Mentally Ill-Hispanic-Not Armed,2
2010-Taser-Not Mentally Ill-White-Not Armed,2
2010-Taser-Substance Use-White-Not Armed,2
2010-Taser-Unknown--Not Armed,3
2010-Taser-Unknown-Black-Not Armed,3
2010-Taser-Unknown-Hispanic-Not Armed,1
2010-Taser-Unknown-White-Not Armed,1
2010-Vehicle-Not Mentally Ill--Not Armed,36
2010-Vehicle-Not Mentally Ill-Asian/PI-Not Armed,1
2010-Vehicle-Not Mentally Ill-Black-Not Armed,4
2010-Vehicle-Not Mentally Ill-Native-American/Alaskan-Not Armed,4
2010-Vehicle-Not Mentally Ill-White-Not Armed,14
2010-Vehicle-Substance Use-White-Not Armed,1
2010-Vehicle-Unknown--Not Armed,7
2010-Vehicle-Unknown-Black-Not Armed,3
2010-Vehicle-Unknown-White-Not Armed,1
2011-.-Not Mentally Ill-Black-Not Armed,1
2011-Beaten-Mentally Ill-White-Not Armed,1
2011-Beaten-Not Mentally Ill-Black-Not Armed,2
2011-Beaten-Not Mentally Ill-Hispanic-Not Armed,1
2011-Beaten-Not Mentally Ill-White-Not Armed,1
2011-Beaten-Unknown--Not Armed,1
2011-Gunshot---Not Armed,2
2011-Gunshot--Black-Not Armed,1
2011-Gunshot--White-Not Armed,1
2011-Gunshot-Mentally Ill--Not Armed,29
2011-Gunshot-Mentally Ill-Asian/PI-Not Armed,1
2011-Gunshot-Mentally Ill-Black-Not Armed,15
2011-Gunshot-Mentally Ill-Hispanic-Not Armed,9
2011-Gunshot-Mentally Ill-Native-American/Alaskan-Not Armed,1
2011-Gunshot-Mentally Ill-White-Not Armed,40
2011-Gunshot-Not Mentally Ill--Not Armed,128
2011-Gunshot-Not Mentally Ill-Asian/PI-Not Armed,2
2011-Gunshot-Not Mentally Ill-Black-Not Armed,90
2011-Gunshot-Not Mentally Ill-Hispanic-Not Armed,50
2011-Gunshot-Not Mentally Ill-Native-American/Alaskan-Not Armed,4
2011-Gunshot-Not Mentally Ill-White-Not Armed,101
2011-Gunshot-Substance Use--Not Armed,8
2011-Gunshot-Substance Use-Asian/PI-Not Armed,1
2011-Gunshot-Substance Use-Black-Not Armed,3
2011-Gunshot-Substance Use-Hispanic-Not Armed,4
2011-Gunshot-Substance Use-White-Not Armed,17
2011-Gunshot-Unknown--Not Armed,43
2011-Gunshot-Unknown-Asian/PI-Not Armed,6
2011-Gunshot-Unknown-Black-Not Armed,32
2011-Gunshot-Unknown-Hispanic-Not Armed,32
2011-Gunshot-Unknown-White-Not Armed,34
2011-Other-Not Mentally Ill--Not Armed,2
2011-Other-Not Mentally Ill-Black-Not Armed,2
2011-Other-Not Mentally Ill-Hispanic-Not Armed,1
2011-Other-Unknown--Not Armed,1
2011-Other-Unknown-Black-Not Armed,2
2011-Other-Unknown-White-Not Armed,2
2011-Restraint-Mentally Ill--Not Armed,1
2011-Restraint-Mentally Ill-White-Not Armed,2
2011-Restraint-Not Mentally Ill--Not Armed,1
2011-Restraint-Not Mentally Ill-Black-Not Armed,3
2011-Restraint-Not Mentally Ill-White-Not Armed,1
2011-Restraint-Substance Use--Not Armed,1
2011-Restraint-Substance Use-White-Not Armed,1
2011-Restraint-Unknown-Black-Not Armed,1
2011-Taser-Mentally Ill--Not Armed,4
2011-Taser-Mentally Ill-Black-Not Armed,2
2011-Taser-Mentally Ill-White-Not Armed,3
2011-Taser-Not Mentally Ill--Not Armed,4
2011-Taser-Not Mentally Ill-Asian/PI-Not Armed,1
2011-Taser-Not Mentally Ill-Black-Not Armed,5
2011-Taser-Not Mentally Ill-Hispanic-Not Armed,1
2011-Taser-Not Mentally Ill-White-Not Armed,3
2011-Taser-Unknown-Black-Not Armed,3
2011-Taser-Unknown-White-Not Armed,1
2011-Vehicle-Not Mentally Ill--Not Armed,31
2011-Vehicle-Not Mentally Ill-Black-Not Armed,11
2011-Vehicle-Not Mentally Ill-Hispanic-Not Armed,3
2011-Vehicle-Not Mentally Ill-White-Not Armed,11
2011-Vehicle-Substance Use--Not Armed,1
2011-Vehicle-Unknown--Not Armed,6
2011-Vehicle-Unknown-Black-Not Armed,1
2011-Vehicle-Unknown-White-Not Armed,2
2012-.-Unknown-White-Not Armed,1
2012-Beaten-Mentally Ill-Hispanic-Not Armed,1
2012-Beaten-Not Mentally Ill--Not Armed,1
2012-Beaten-Not Mentally Ill-Black-Not Armed,1
2012-Beaten-Substance Use-Black-Not Armed,1
2012-Gunshot--Black-Not Armed,2
2012-Gunshot--White-Not Armed,4
2012-Gunshot-Mentally Ill--Not Armed,34
2012-Gunshot-Mentally Ill-Asian/PI-Not Armed,4
2012-Gunshot-Mentally Ill-Black-Not Armed,18
2012-Gunshot-Mentally Ill-Hispanic-Not Armed,7
2012-Gunshot-Mentally Ill-Middle Eastern-Not Armed,1
2012-Gunshot-Mentally Ill-Native-American/Alaskan-Not Armed,4
2012-Gunshot-Mentally Ill-White-Not Armed,45
2012-Gunshot-Not Mentally Ill--Not Armed,137
2012-Gunshot-Not Mentally Ill-Asian/PI-Not Armed,4
2012-Gunshot-Not Mentally Ill-Black-Not Armed,115
2012-Gunshot-Not Mentally Ill-Hispanic-Not Armed,49
2012-Gunshot-Not Mentally Ill-Native-American/Alaskan-Not Armed,2
2012-Gunshot-Not Mentally Ill-White-Not Armed,114
2012-Gunshot-Substance Use--Not Armed,8
2012-Gunshot-Substance Use-Asian/PI-Not Armed,1
2012-Gunshot-Substance Use-Black-Not Armed,5
2012-Gunshot-Substance Use-Hispanic-Not Armed,5
2012-Gunshot-Substance Use-Native-American/Alaskan-Not Armed,1
2012-Gunshot-Substance Use-White-Not Armed,12
2012-Gunshot-Unknown--Not Armed,36
2012-Gunshot-Unknown-Asian/PI-Not Armed,2
2012-Gunshot-Unknown-Black-Not Armed,25
2012-Gunshot-Unknown-Hispanic-Not Armed,22
2012-Gunshot-Unknown-White-Not Armed,42
2012-Other-Mentally Ill-Black-Not Armed,1
2012-Other-Mentally Ill-Hispanic-Not Armed,1
2012-Other-Not Mentally Ill--Not Armed,1
2012-Other-Not Mentally Ill-Black-Not Armed,1
2012-Other-Not Mentally Ill-Hispanic-Not Armed,1
2012-Other-Substance Use--Not Armed,1
2012-Other-Substance Use-Black-Not Armed,1
2012-Other-Unknown--Not Armed,1
2012-Other-Unknown-Black-Not Armed,3
2012-Other-Unknown-White-Not Armed,1
2012-Restraint-Mentally Ill--Not Armed,2
2012-Restraint-Mentally Ill-Black-Not Armed,1
2012-Restraint-Mentally Ill-Hispanic-Not Armed,1
2012-Restraint-Mentally Ill-White-Not Armed,2
2012-Restraint-Not Mentally Ill--Not Armed,2
2012-Restraint-Not Mentally Ill-Black-Not Armed,2
2012-Restraint-Not Mentally Ill-Hispanic-Not Armed,1
2012-Restraint-Not Mentally Ill-White-Not Armed,1
2012-Restraint-Substance Use-Hispanic-Not Armed,1
2012-Restraint-Unknown--Not Armed,1
2012-Suicide-Mentally Ill--Not Armed,4
2012-Suicide-Mentally Ill-Black-Not Armed,1
2012-Suicide-Mentally Ill-Hispanic-Not Armed,1
2012-Suicide-Mentally Ill-White-Not Armed,1
2012-Suicide-Not Mentally Ill-Hispanic-Not Armed,1
2012-Suicide-Unknown--Not Armed,1
2012-Suicide-Unknown-Hispanic-Not Armed,1
2012-Taser-Mentally Ill--Not Armed,4
2012-Taser-Mentally Ill-Black-Not Armed,1
2012-Taser-Mentally Ill-Hispanic-Not Armed,1
2012-Taser-Mentally Ill-White-Not Armed,4
2012-Taser-Not Mentally Ill--Not Armed,3
2012-Taser-Not Mentally Ill-Black-Not Armed,3
2012-Taser-Not Mentally Ill-Hispanic-Not Armed,3
2012-Taser-Not Mentally Ill-White-Not Armed,3
2012-Taser-Substance Use--Not Armed,2
2012-Taser-Substance Use-Black-Not Armed,1
2012-Taser-Substance Use-White-Not Armed,1
2012-Taser-Unknown--Not Armed,2
2012-Taser-Unknown-Black-Not Armed,3
2012-Taser-Unknown-White-Not Armed,1
2012-Vehicle-Mentally Ill-Black-Not Armed,1
2012-Vehicle-Not Mentally Ill--Not Armed,38
2012-Vehicle-Not Mentally Ill-Black-Not Armed,12
2012-Vehicle-Not Mentally Ill-Hispanic-Not Armed,3
2012-Vehicle-Not Mentally Ill-White-Not Armed,16
2012-Vehicle-Substance Use--Not Armed,1
2012-Vehicle-Unknown--Not Armed,12
2012-Vehicle-Unknown-Black-Not Armed,5
2012-Vehicle-Unknown-White-Not Armed,2
2013-.-Not Mentally Ill-Hispanic-Not Armed,1
2013-Beaten-Mentally Ill-White-Not Armed,1
2013-Beaten-Not Mentally Ill--Not Armed,1
2013-Beaten-Not Mentally Ill-Black-Not Armed,2
2013-Beaten-Not Mentally Ill-White-Not Armed,2
2013-Beaten-Substance Use--Not Armed,1
2013-Beaten-Substance Use-White-Not Armed,2
2013-Gunshot--Black-Not Armed,1
2013-Gunshot--Hispanic-Not Armed,3
2013-Gunshot--White-Not Armed,3
2013-Gunshot-Mentally Ill--Not Armed,32
2013-Gunshot-Mentally Ill-Asian/PI-Not Armed,2
2013-Gunshot-Mentally Ill-Black-Not Armed,20
2013-Gunshot-Mentally Ill-Hispanic-Not Armed,12
2013-Gunshot-Mentally Ill-Middle Eastern-Not Armed,1
2013-Gunshot-Mentally Ill-Native-American/Alaskan-Not Armed,2
2013-Gunshot-Mentally Ill-White-Not Armed,73
2013-Gunshot-Not Mentally Ill--Not Armed,186
2013-Gunshot-Not Mentally Ill-Asian/PI-Not Armed,8
2013-Gunshot-Not Mentally Ill-Black-Not Armed,177
2013-Gunshot-Not Mentally Ill-Hispanic-Not Armed,84
2013-Gunshot-Not Mentally Ill-Middle Eastern-Not Armed,1
2013-Gunshot-Not Mentally Ill-Native-American/Alaskan-Not Armed,1
2013-Gunshot-Not Mentally Ill-White-Not Armed,201
2013-Gunshot-Substance Use--Not Armed,13
2013-Gunshot-Substance Use-Black-Not Armed,7
2013-Gunshot-Substance Use-Hispanic-Not Armed,6
2013-Gunshot-Substance Use-White-Not Armed,24
2013-Gunshot-Unknown--Not Armed,64
2013-Gunshot-Unknown-Asian/PI-Not Armed,1
2013-Gunshot-Unknown-Black-Not Armed,29
2013-Gunshot-Unknown-Hispanic-Not Armed,21
2013-Gunshot-Unknown-Native-American/Alaskan-Not Armed,1
2013-Gunshot-Unknown-White-Not Armed,65
2013-Other-Mentally Ill--Not Armed,1
2013-Other-Not Mentally Ill--Not Armed,1
2013-Other-Not Mentally Ill-Black-Not Armed,2
2013-Other-Not Mentally Ill-Hispanic-Not Armed,1
2013-Other-Not Mentally Ill-White-Not Armed,1
2013-Other-Substance Use-Hispanic-Not Armed,1
2013-Other-Unknown-Black-Not Armed,1
2013-Restraint-Mentally Ill--Not Armed,2
2013-Restraint-Mentally Ill-Black-Not Armed,3
2013-Restraint-Mentally Ill-Hispanic-Not Armed,1
2013-Restraint-Not Mentally Ill--Not Armed,7
2013-Restraint-Not Mentally Ill-Black-Not Armed,4
2013-Restraint-Not Mentally Ill-Hispanic-Not Armed,2
2013-Restraint-Not Mentally Ill-White-Not Armed,8
2013-Restraint-Substance Use-Black-Not Armed,1
2013-Restraint-Substance Use-Hispanic-Not Armed,1
2013-Restraint-Substance Use-White-Not Armed,4
2013-Restraint-Unknown--Not Armed,2
2013-Restraint-Unknown-Black-Not Armed,2
2013-Restraint-Unknown-Hispanic-Not Armed,1
2013-Suicide-Mentally Ill-White-Not Armed,1
2013-Suicide-Not Mentally Ill-Black-Not Armed,1
2013-Suicide-Not Mentally Ill-White-Not Armed,1
2013-Suicide-Unknown-White-Not Armed,1
2013-Taser-Mentally Ill--Not Armed,2
2013-Taser-Mentally Ill-Black-Not Armed,3
2013-Taser-Mentally Ill-White-Not Armed,3
2013-Taser-Not Mentally Ill--Not Armed,7
2013-Taser-Not Mentally Ill-Black-Not Armed,8
2013-Taser-Not Mentally Ill-Hispanic-Not Armed,2
2013-Taser-Not Mentally Ill-White-Not Armed,6
2013-Taser-Substance Use--Not Armed,2
2013-Taser-Substance Use-Hispanic-Not Armed,2
2013-Taser-Substance Use-White-Not Armed,2
2013-Taser-Unknown-White-Not Armed,1
2013-Vehicle-Not Mentally Ill--Not Armed,54
2013-Vehicle-Not Mentally Ill-Asian/PI-Not Armed,5
2013-Vehicle-Not Mentally Ill-Black-Not Armed,19
2013-Vehicle-Not Mentally Ill-Hispanic-Not Armed,17
2013-Vehicle-Not Mentally Ill-White-Not Armed,19
2013-Vehicle-Substance Use--Not Armed,5
2013-Vehicle-Substance Use-Black-Not Armed,1
2013-Vehicle-Substance Use-White-Not Armed,1
2013-Vehicle-Unknown--Not Armed,4
2013-Vehicle-Unknown-Asian/PI-Not Armed,1
2013-Vehicle-Unknown-Black-Not Armed,3
2013-Vehicle-Unknown-White-Not Armed,1
2014-.-Not Mentally Ill--Not Armed,1
2014-.-Not Mentally Ill-Asian/PI-Not Armed,1
2014-.-Not Mentally Ill-Black-Not Armed,1
2014-.-Not Mentally Ill-White-Not Armed,2
2014-.-Substance Use--Armed,1
2014-.-Unknown--Not Armed,1
2014-.-Unknown-Black-Not Armed,1
2014-Beaten-Mentally Ill-Black-Not Armed,1
2014-Beaten-Mentally Ill-White-Not Armed,1
2014-Beaten-Not Mentally Ill-Black-Not Armed,2
2014-Beaten-Substance Use-Black-Not Armed,1
2014-Beaten-Substance Use-White-Not Armed,1
2014-Beaten-Unknown-White-Not Armed,1
2014-Gunshot---Not Armed,1
2014-Gunshot--Black-Armed,1
2014-Gunshot-Mentally Ill--Armed,7
2014-Gunshot-Mentally Ill--Not Armed,42
2014-Gunshot-Mentally Ill-Asian/PI-Armed,1
2014-Gunshot-Mentally Ill-Asian/PI-Not Armed,3
2014-Gunshot-Mentally Ill-Black-Armed,4
2014-Gunshot-Mentally Ill-Black-Not Armed,14
2014-Gunshot-Mentally Ill-Hispanic-Armed,5
2014-Gunshot-Mentally Ill-Hispanic-Not Armed,11
2014-Gunshot-Mentally Ill-Middle Eastern-Not Armed,1
2014-Gunshot-Mentally Ill-Native-American/Alaskan-Not Armed,1
2014-Gunshot-Mentally Ill-White-Armed,16
2014-Gunshot-Mentally Ill-White-Not Armed,59
2014-Gunshot-Not Mentally Ill--Armed,44
2014-Gunshot-Not Mentally Ill--Not Armed,112
2014-Gunshot-Not Mentally Ill-Asian/PI-Armed,4
2014-Gunshot-Not Mentally Ill-Asian/PI-Not Armed,5
2014-Gunshot-Not Mentally Ill-Black-Armed,35
2014-Gunshot-Not Mentally Ill-Black-Not Armed,112
2014-Gunshot-Not Mentally Ill-Hispanic-Armed,28
2014-Gunshot-Not Mentally Ill-Hispanic-Not Armed,67
2014-Gunshot-Not Mentally Ill-Native-American/Alaskan-Armed,2
2014-Gunshot-Not Mentally Ill-Native-American/Alaskan-Not Armed,2
2014-Gunshot-Not Mentally Ill-White-Armed,58
2014-Gunshot-Not Mentally Ill-White-Not Armed,161
2014-Gunshot-Substance Use--Armed,4
2014-Gunshot-Substance Use--Not Armed,7
2014-Gunshot-Substance Use-Black-Not Armed,7
2014-Gunshot-Substance Use-Hispanic-Armed,1
2014-Gunshot-Substance Use-Hispanic-Not Armed,8
2014-Gunshot-Substance Use-Native-American/Alaskan-Armed,1
2014-Gunshot-Substance Use-White-Armed,5
2014-Gunshot-Substance Use-White-Not Armed,26
2014-Gunshot-Unknown--Armed,9
2014-Gunshot-Unknown--Not Armed,55
2014-Gunshot-Unknown-Asian/PI-Armed,1
2014-Gunshot-Unknown-Asian/PI-Not Armed,3
2014-Gunshot-Unknown-Black-Armed,5
2014-Gunshot-Unknown-Black-Not Armed,27
2014-Gunshot-Unknown-Hispanic-Armed,4
2014-Gunshot-Unknown-Hispanic-Not Armed,12
2014-Gunshot-Unknown-Native-American/Alaskan-Armed,1
2014-Gunshot-Unknown-Native-American/Alaskan-Not Armed,2
2014-Gunshot-Unknown-White-Armed,17
2014-Gunshot-Unknown-White-Not Armed,48
2014-Other-Mentally Ill-Hispanic-Not Armed,1
2014-Other-Not Mentally Ill--Not Armed,3
2014-Other-Not Mentally Ill-Black-Not Armed,3
2014-Other-Not Mentally Ill-White-Not Armed,1
2014-Other-Unknown-Black-Not Armed,3
2014-Other-Unknown-Hispanic-Not Armed,1
2014-Other-Unknown-White-Not Armed,2
2014-Pepper Spray-Not Mentally Ill-Black-Not Armed,1
2014-Pepper spray-Not Mentally Ill-Hispanic-Not Armed,1
2014-Pepper Spray-Not Mentally Ill-White-Armed,1
2014-Pepper Spray-Substance Use--Armed,1
2014-Pepper Spray-Substance Use-Black-Armed,1
2014-Restraint-Mentally Ill-Hispanic-Not Armed,1
2014-Restraint-Mentally Ill-White-Not Armed,1
2014-Restraint-Not Mentally Ill--Not Armed,1
2014-Restraint-Not Mentally Ill-Black-Not Armed,3
2014-Restraint-Not Mentally Ill-Hispanic-Not Armed,1
2014-Restraint-Not Mentally Ill-White-Not Armed,1
2014-Restraint-Substance Use--Not Armed,1
2014-Restraint-Substance Use-Black-Not Armed,3
2014-Restraint-Substance Use-White-Not Armed,1
2014-Restraint-Unknown--Not Armed,1
2014-Restraint-Unknown-White-Not Armed,1
2014-Suicide-Not Mentally Ill-White-Not Armed,1
2014-Suicide-Substance Use-Hispanic-Not Armed,1
2014-Taser-Mentally Ill--Armed,1
2014-Taser-Mentally Ill-Black-Armed,2
2014-Taser-Mentally Ill-Black-Not Armed,2
2014-Taser-Mentally Ill-White-Armed,1
2014-Taser-Mentally Ill-White-Not Armed,3
2014-Taser-Not Mentally Ill--Armed,1
2014-Taser-Not Mentally Ill--Not Armed,1
2014-Taser-Not Mentally Ill-Black-Armed,4
2014-Taser-Not Mentally Ill-Black-Not Armed,6
2014-Taser-Not Mentally Ill-Hispanic-Armed,1
2014-Taser-Not Mentally Ill-Hispanic-Not Armed,3
2014-Taser-Not Mentally Ill-White-Not Armed,2
2014-Taser-Substance Use--Not Armed,2
2014-Taser-Substance Use-Black-Armed,2
2014-Taser-Substance Use-Black-Not Armed,1
2014-Taser-Substance Use-White-Not Armed,1
2014-Taser-Unknown-Black-Armed,2
2014-Taser-Unknown-Black-Not Armed,1
2014-Taser-Unknown-White-Armed,2
2014-Taser-Unknown-White-Not Armed,1
2014-Vehicle-Not Mentally Ill--Armed,32
2014-Vehicle-Not Mentally Ill--Not Armed,54
2014-Vehicle-Not Mentally Ill-Black-Armed,9
2014-Vehicle-Not Mentally Ill-Black-Not Armed,10
2014-Vehicle-Not Mentally Ill-Hispanic-Armed,4
2014-Vehicle-Not Mentally Ill-Hispanic-Not Armed,11
2014-Vehicle-Not Mentally Ill-White-Armed,13
2014-Vehicle-Not Mentally Ill-White-Not Armed,23
2014-Vehicle-Substance Use--Armed,3
2014-Vehicle-Unknown--Armed,1
2014-Vehicle-Unknown--Not Armed,3
2014-Vehicle-Unknown-Black-Not Armed,1
2015-.-Not Mentally Ill-Native-American/Alaskan-Not Armed,1
2015-.-Not Mentally Ill-White-Not Armed,1
2015-.-Unknown-Black-Not Armed,2
2015-.-Unknown-Hispanic-Not Armed,1
2015-.-Unknown-White-Not Armed,1
2015-Beaten-Mentally Ill-Hispanic-Not Armed,1
2015-Beaten-Mentally Ill-White-Not Armed,1
2015-Beaten-Not Mentally Ill-Black-Not Armed,2
2015-Beaten-Not Mentally Ill-White-Not Armed,1
2015-Beaten-Substance Use-White-Not Armed,1
2015-Beaten-Unknown--Not Armed,1
2015-Beaten-Unknown-Black-Not Armed,1
2015-Gunshot---Not Armed,1
2015-Gunshot--Asian/PI-Not Armed,1
2015-Gunshot--Black-Not Armed,4
2015-Gunshot--White-Not Armed,8
2015-Gunshot-Mentally Ill--Armed,2
2015-Gunshot-Mentally Ill--Not Armed,29
2015-Gunshot-Mentally Ill-Asian/PI-Not Armed,2
2015-Gunshot-Mentally Ill-Black-Armed,2
2015-Gunshot-Mentally Ill-Black-Not Armed,18
2015-Gunshot-Mentally Ill-Hispanic-Armed,2
2015-Gunshot-Mentally Ill-Hispanic-Not Armed,23
2015-Gunshot-Mentally Ill-Native-American/Alaskan-Not Armed,1
2015-Gunshot-Mentally Ill-White-Armed,1
2015-Gunshot-Mentally Ill-White-Not Armed,70
2015-Gunshot-Not Mentally Ill--Armed,6
2015-Gunshot-Not Mentally Ill--Not Armed,88
2015-Gunshot-Not Mentally Ill-Asian/PI-Armed,2
2015-Gunshot-Not Mentally Ill-Asian/PI-Not Armed,8
2015-Gunshot-Not Mentally Ill-Black-Armed,6
2015-Gunshot-Not Mentally Ill-Black-Not Armed,151
2015-Gunshot-Not Mentally Ill-Hispanic-Armed,6
2015-Gunshot-Not Mentally Ill-Hispanic-Not Armed,98
2015-Gunshot-Not Mentally Ill-Middle Eastern-Not Armed,5
2015-Gunshot-Not Mentally Ill-Native-American/Alaskan-Armed,1
2015-Gunshot-Not Mentally Ill-Native-American/Alaskan-Not Armed,2
2015-Gunshot-Not Mentally Ill-White-Armed,5
2015-Gunshot-Not Mentally Ill-White-Not Armed,227
2015-Gunshot-Substance Use--Armed,1
2015-Gunshot-Substance Use--Not Armed,10
2015-Gunshot-Substance Use-Asian/PI-Not Armed,1
2015-Gunshot-Substance Use-Black-Armed,1
2015-Gunshot-Substance Use-Black-Not Armed,5
2015-Gunshot-Substance Use-Hispanic-Not Armed,3
2015-Gunshot-Substance Use-Middle Eastern-Not Armed,1
2015-Gunshot-Substance Use-White-Not Armed,18
2015-Gunshot-Unknown--Armed,1
2015-Gunshot-Unknown--Not Armed,67
2015-Gunshot-Unknown-Asian/PI-Armed,1
2015-Gunshot-Unknown-Asian/PI-Not Armed,1
2015-Gunshot-Unknown-Black-Armed,2
2015-Gunshot-Unknown-Black-Not Armed,51
2015-Gunshot-Unknown-Hispanic-Not Armed,24
2015-Gunshot-Unknown-Middle Eastern-Not Armed,1
2015-Gunshot-Unknown-Native-American/Alaskan-Not Armed,1
2015-Gunshot-Unknown-White-Armed,3
2015-Gunshot-Unknown-White-Not Armed,102
2015-Other-Mentally Ill--Not Armed,1
2015-Other-Not Mentally Ill--Not Armed,2
2015-Other-Unknown--Not Armed,1
2015-Other-Unknown-Black-Not Armed,2
2015-Other-Unknown-White-Not Armed,1
2015-Pepper Spray-Substance Use-White-Not Armed,1
2015-Restraint--White-Not Armed,1
2015-Restraint-Mentally Ill--Not Armed,1
2015-Restraint-Mentally Ill-Asian/PI-Not Armed,1
2015-Restraint-Mentally Ill-Black-Armed,1
2015-Restraint-Mentally Ill-Black-Not Armed,1
2015-Restraint-Mentally Ill-Native-American/Alaskan-Not Armed,1
2015-Restraint-Mentally Ill-White-Not Armed,2
2015-Restraint-Not Mentally Ill--Not Armed,3
2015-Restraint-Not Mentally Ill-Asian/PI-Not Armed,1
2015-Restraint-Not Mentally Ill-Black-Not Armed,4
2015-Restraint-Not Mentally Ill-Hispanic-Not Armed,3
2015-Restraint-Not Mentally Ill-White-Not Armed,2
2015-Restraint-Substance Use--Not Armed,1
2015-Restraint-Substance Use-Asian/PI-Not Armed,1
2015-Restraint-Substance Use-Black-Not Armed,2
2015-Restraint-Substance Use-Native-American/Alaskan-Not Armed,1
2015-Restraint-Substance Use-White-Not Armed,2
2015-Restraint-Unknown-Black-Not Armed,1
2015-Restraint-Unknown-Hispanic-Not Armed,2
2015-Restraint-Unknown-White-Not Armed,2
2015-Taser--Black-Not Armed,1
2015-Taser--White-Not Armed,1
2015-Taser-Mentally Ill--Not Armed,1
2015-Taser-Mentally Ill-Black-Not Armed,5
2015-Taser-Mentally Ill-Hispanic-Not Armed,1
2015-Taser-Not Mentally Ill-Asian/PI-Not Armed,1
2015-Taser-Not Mentally Ill-Black-Not Armed,6
2015-Taser-Not Mentally Ill-Hispanic-Not Armed,1
2015-Taser-Not Mentally Ill-White-Not Armed,9
2015-Taser-Substance Use--Not Armed,3
2015-Taser-Substance Use-Black-Not Armed,6
2015-Taser-Substance Use-Hispanic-Not Armed,3
2015-Taser-Substance Use-White-Not Armed,5
2015-Taser-Unknown--Not Armed,2
2015-Taser-Unknown-Black-Not Armed,3
2015-Taser-Unknown-Hispanic-Armed,1
2015-Taser-Unknown-Hispanic-Not Armed,3
2015-Taser-Unknown-White-Armed,1
2015-Taser-Unknown-White-Not Armed,5
2015-Vehicle---Not Armed,1
2015-Vehicle--Black-Not Armed,2
2015-Vehicle-Mentally Ill--Not Armed,1
2015-Vehicle-Mentally Ill-White-Not Armed,1
2015-Vehicle-Not Mentally Ill--Not Armed,48
2015-Vehicle-Not Mentally Ill-Asian/PI-Not Armed,1
2015-Vehicle-Not Mentally Ill-Black-Not Armed,9
2015-Vehicle-Not Mentally Ill-Hispanic-Not Armed,5
2015-Vehicle-Not Mentally Ill-Native-American/Alaskan-Not Armed,1
2015-Vehicle-Not Mentally Ill-White-Armed,1
2015-Vehicle-Not Mentally Ill-White-Not Armed,23
2015-Vehicle-Substance Use--Not Armed,2
2015-Vehicle-Substance Use-White-Not Armed,4
2015-Vehicle-Unknown--Not Armed,8
2015-Vehicle-Unknown-Black-Not Armed,4
2015-Vehicle-Unknown-White-Not Armed,6
2016-Gunshot-Mentally Ill--Armed,4
2016-Gunshot-Mentally Ill--Not Armed,6
2016-Gunshot-Mentally Ill-Asian/PI-Armed,1
2016-Gunshot-Mentally Ill-Black-Not Armed,4
2016-Gunshot-Mentally Ill-Hispanic-Armed,2
2016-Gunshot-Mentally Ill-White-Armed,4
2016-Gunshot-Mentally Ill-White-Not Armed,4
2016-Gunshot-Not Mentally Ill--Armed,15
2016-Gunshot-Not Mentally Ill--Not Armed,14
2016-Gunshot-Not Mentally Ill-Asian/PI-Not Armed,1
2016-Gunshot-Not Mentally Ill-Black-Armed,7
2016-Gunshot-Not Mentally Ill-Black-Not Armed,9
2016-Gunshot-Not Mentally Ill-Hispanic-Armed,2
2016-Gunshot-Not Mentally Ill-Hispanic-Not Armed,3
2016-Gunshot-Not Mentally Ill-Native-American/Alaskan-Not Armed,1
2016-Gunshot-Not Mentally Ill-White-Armed,12
2016-Gunshot-Not Mentally Ill-White-Not Armed,20
2016-Gunshot-Substance Use--Armed,1
2016-Gunshot-Unknown--Armed,7
2016-Gunshot-Unknown-Black-Not Armed,1
2016-Gunshot-Unknown-White-Armed,2
2016-Gunshot-Unknown-White-Not Armed,1
2016-Suicide-Unknown-White-Not Armed,1
2016-Taser-Mentally Ill--Not Armed,1
2016-Vehicle-Not Mentally Ill--Armed,4
2016-Vehicle-Not Mentally Ill--Not Armed,2
2016-Vehicle-Not Mentally Ill-Black-Armed,3
2016-Vehicle-Not Mentally Ill-Black-Not Armed,2
2016-Vehicle-Not Mentally Ill-White-Not Armed,3
